@charset "utf-8";
@import 'sass_base/mixin';
@import 'sass_base/base';
@import 'sass_base/animate';
@import 'sass_base/_page_animete';
@import 'sass_base/icon_arrow';
@import 'sass_base/coding_guideline';

.wapper {
    @include wapper_setting();    
}
//基本設定
ul,li,dd,dt,dh {
    list-style: none;
}
svg {
    display: block;
}

.pc_only {
    @include pc_only();
}
.sp_only {
    @include sp_only();
}

.t_center {
    text-align: center;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.text_justify {
    text-align: justify;
    text-justify: inter-ideograph;    
}
.bgE0CBAF {
    background:#E0CBAF; 
}

//ヘッダー
.headerMainH1 {
    
}
.mainHeaderButtonWap {
    
}
.mainHeaderButton {
    width: 50%;
    cursor: pointer;
}
.mainHeader{
    position: sticky;
    top:0;
}
//メイン
.lpMain {

}
.lpMain .off {
    display: none;
}
.lpMain .on {
    display: block;
}
.tabMainLxcH1 {
    @include ontener_width(640 , 352.26 );
    margin: 0 auto;
}
.tabMainLxcUl {
    //@include marginPercent(640 , 27 , 0 , 0 , 0 );
    @include ontener_width(750 , 710);
    @include marginPercent(750 , 36.6 , auto , 0 , auto );
}
.tabMainLxcLi {
    &:nth-child(n+2) {
        @include marginPercent(750 , 44 , 0 , 0 , 0 );
    }
}
footer {
    @include paddingPercent(640 , 100 , 0 , 100 , 0 );
    background: #FFF;
}
.footerButton {
    display: block;
    @include ontener_width(640 , 540 );
    margin: 0 auto;
}
.footerButtoncenterwap{
    background: #FFF;
    @include marginPercent(640 , 50 , auto , 54 , auto);
    @include paddingPercent(640 , 100 , 0 , 100 , 0);
}
#JsOpenTabMens{
    
}

.textFooter {
    font-size: 12px;
    text-align: center;
    @include marginPercent(750 , 10 , auto , 0 , auto );
}
.bgMainLxc {
    background: url(../img/bgMainLxc.webp) no-repeat top center;
    background-size: cover;
    @include paddingPercent(750 , 37 , 0 , 100 , 0);
}
.bgMainLxcBoy {
    background: url(../img/bgMainLxcBoy.webp) no-repeat top center;
    background-size: cover;
    @include paddingPercent(750 , 66.7 , 0 , 119.8 , 0);
}

.txtMainLxc {
    @include ontener_width(750 , 624.56);
    @include marginPercent(750 , 41 , auto , 0 , auto );
}
.btmMainLadyWap {
    @include ontener_width(750 , 632.81);
    @include marginPercent(750 , 41.7 , auto , 0 , auto );
}


.txtMainLxcBoy {
    @include ontener_width(750 , 624.56);
    @include marginPercent(750 , 63 , auto , 0 , auto );
}
.btmMainBoyWap {
    @include ontener_width(750 , 632.81);
    @include marginPercent(750 , 48.7 , auto , 0 , auto );
}